.messages {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0.8rem 0.8rem 2rem;
  overflow-y: scroll;
}

.form {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

.formInput {
  flex: 1;
  //width: calc(100% - 4rem);
}

.formBtn {
  //width: 4rem;
}